open-stories.customized:not(:defined),
open-stories.customized::part(button) {
  padding: 0.8em 1.6em;
  background: var(--linkColor);
  color: var(--backgroundColor);
  border: 0;
  font-weight: 600;
  cursor: pointer;
  border-radius: 2px;
}
